.bGround {
  background-image: url("../../../img/background/parchemin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
/*éléments*/
.titre1 {
  font: bold 25px arial, sans-serif;
}
