.eltConJ {
  /*dimensions*/
  height: 100%;
  width: 100%;
  /*aligner verticalement et horizontalement le contenu*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*habillage*/
  color: rgba(202, 111, 30, 1);
}
.elt {
  /*dimensions*/
  height: 100%;
  width: 100%;
  /*aligner verticalement et horizontalement le contenu*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*habillage*/
  color: rgba(202, 111, 30, 1);
}
.conJ {

}
.naiJ{

}
.bGround {
  background-image: url("../../img/background/plateauH.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
input {
  width:75%;
}
