.grilleNomJ {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  grid-gap: 1%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2,0.5fr);
  grid-template-areas:
  "nomJ"
  "tip"
  "val";
}
  /*éléments*/
.nomJ {
  grid-area: nomJ;
  justify-content: center;
}
.tip {
  grid-area: tip;
  justify-content: center;
}
.val {
  grid-area: val;
  justify-content: center;
}
