.lien {
  /*dimensions*/
  height: 100%;
  width: 100%;
  /*aligner verticalement le contenu*/
  display: flex;
  align-items: center;
  text-align: left;
}
.img1 {
  background-image: url("../../../../img/background/adn2.png");
}
.img2 {
  background-image: url("../../../../img/background/parchemin.png");
}
.img3 {
  background-image: url("../../../../img/background/plancher.jpg");
}
.img4 {
  background-image: url("../../../../img/background/plateau.jpg");
}
.img5 {
  background-image: url("../../../../img/background/table01.jpg");
}
.img6 {
  background-image: url("../../../../img/background/table02.jpg");
}
