.bGround {
  background-image: url("../img/background/table01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
/*éléments de grilleEnjeu*/
.elt {
  /*dimensions*/
  height: 100%;
  width: 100%;
  /*aligner verticalement et horizontalement le contenu*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*habillage*/
  color: rgba(202, 111, 30, 1);
}
.titre1 {
  font: bold 35px arial, sans-serif;
}
/*boutons*/
.bout1 {
  background-image: url("../img/background/table02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
}
.bout2 {
  background-image: url("../img/background/adn2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
}
/*contenus résumés*/
/*connexion joueur*/
.conJ {

}
/*contenus affichés 1*/
/*Table des joueurs*/
