a {
  color: white;
}
.bGround {
  background-image: url("../../img/background/table01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
/*éléments de grilleEnjeu*/
.titre1 {
  font: bold 35px arial, sans-serif;
}
/*boutons*/
.bout1 {
  background-image: url("../../img/background/table02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
}
.bout2 {
  background-image: url("../../img/background/adn2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
}
