.grilleAffJ {
  display: grid;
  align-items: center;
  height: 100vh;
  grid-gap: 4%;
  grid-template-columns: repeat(2,0.5fr) repeat(2,1fr);
  grid-template-rows: repeat(10,1fr);
  grid-template-areas:
  "img img nom nom"
  "img img niv niv"
  "img img tit tit"
  "age age car car"
  "mas mas tai tai"
  "sex sex rac rac"
  "met met spe spe"
  "for for def int"
  "inv inv inv inv"
  "his his his his";
}
  /*Eléments*/
  .img {
    grid-area: img;
  }
  .nom {
    grid-area: nom;
    justify-content: center;
  }
  .niv {
    grid-area: niv;
    justify-content: center;
  }
  .tit {
    grid-area: tit;
    justify-content: center;
  }
  .age {
    grid-area: age;
  }
  .tai {
    grid-area: tai;
  }
  .mas {
    grid-area: mas;
  }
  .car {
    grid-area: car;
  }
  .rac {
    grid-area: rac;
  }
  .sex {
    grid-area: sex;
  }
  .met {
    grid-area: met;
  }
  .spe {
    grid-area: spe;
  }
  .his {
    grid-area: his;
    justify-content: center;
  }
  .for {
    grid-area: for;
    justify-content: center;
  }
  .def {
    grid-area: def;
    justify-content: center;
  }
  .intel {
    grid-area: int;
    justify-content: center;
  }
  .inv {
    grid-area: inv;
    justify-content: center;
  }
