/*grille créa portrait*/
.grilleCreaP {
  display: grid;
  height: 100vh;
  grid-gap: 5%;
  border: 1px solid;
  border-color: rgba(202, 111, 30, 1);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  grid-template-areas:
  "img"
  "car"
  "tai"
  "mas"
  "age";
}
  /*Eléments*/
  .img {
    grid-area: img;
  }
  .age {
    grid-area: age;
  }
  .tai {
    grid-area: tai;
  }
  .car {
    grid-area: car;
  }
  .mas {
    grid-area: mas;
  }
