.bGround {
  background-image: url("../../../img/background/parchemin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.titre1 {
  font: bold 35px arial, sans-serif;
}
.titre2 {
  font: bold 25px arial, sans-serif;
}
/*boutons*/
/*contenus affichés*/
/*Choix joueur*/
/*Afficher joueur*/
