.grilleCredits {
  display: grid;
  align-items: center;
  height: 100vh;
  width:100%;
  padding-left: 20%;
  padding-bottom: 5%;
  padding-right: 10%;
  grid-gap: 5%;
  border: 1px solid;
  border-color: rgba(202, 111, 30, 1);
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr) 7fr 1fr;
  grid-template-areas:
  "tit tit"
  ". ."
  "img rem"
  "ft ft";
}
  /*Eléments*/
  .tit {
    grid-area: tit;
    width: 80%;
  }
  .st1 {
    grid-area: st1;
  }
  .st2 {
    grid-area: st2;
  }
  /*contenus*/
  .img {
    grid-area: img;
    width: 80%;
    height:100%;

  }
  .rem {
    grid-area: rem;
    width: 80%;
    height:100%;
    border: 1px solid;
    border-color: rgba(202, 111, 30, 1);
  }

  .ft {
    grid-area: ft;
  }
